[submodule "blackmagic"]
	path = firmware/thirdParty/blackmagic
	url = https://github.com/blackmagic-debug/blackmagic.git
	branch = main
[submodule "FreeRTOS-Kernel"]
	path = firmware/thirdParty/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
	branch = main
[submodule "tinyusb_Misaka0x2730"]
	path = firmware/thirdParty/tinyusb
	url = https://github.com/Misaka0x2730/tinyusb.git
	branch = master
