[submodule "firmware/external/pico-sdk"]
	path = firmware/external/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "firmware/external/FreeRTOS-Kernel"]
	path = firmware/external/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "firmware/external/tinyusb"]
	path = firmware/external/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "firmware/external/SEGGER/RTT"]
	path = firmware/external/SEGGER/RTT
	url = https://github.com/SEGGERMicro/RTT.git
[submodule "firmware/external/SEGGER/SysView"]
	path = firmware/external/SEGGER/SysView
	url = https://github.com/SEGGERMicro/SystemView.git
[submodule "firmware/external/blackmagic"]
	path = firmware/external/blackmagic
	url = https://codeberg.org/blackmagic-debug/blackmagic.git
