# IDE settings
.idea/
.vscode/

# KiCad files
*.kicad_prl
*.kicad_sch.lck
*.kicad_pcb.lck
fp-info-cache
sym-lib-table
fp-lib-table

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# CMake folders
firmware/cmake-build-*/
hardware/**/*-backups/
hardware/**/jlcpcb/gerber/

# Mac OS DS_Store files
.DS_Store

# Ignore picotool
firmware/thirdParty/picotool/*

# Test boards
test_board/*
